body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    width: 80%;
    margin: 20px auto;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
    width: 30%;
    background: #2c3e50;
    color: white;
    padding: 20px;
    text-align: center;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 5px solid white;
}

.sidebar h2 {
    font-size: 18px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.sidebar p, .sidebar ul {
    font-size: 14px;
    line-height: 1.5;
}

.sidebar ul {
    padding: 0;
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 5px;
}

.content {
    width: 70%;
    padding: 20px;
    color: #333;
}

h1 {
    font-size: 26px;
    color: #2c3e50;
    margin-bottom: 10px;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    font-size: 20px;
    color: #2c3e50;
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
